<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="labelValue">
            <h2><span>Label Value</span> {{labelValue.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Value</span></dt>
                <dd>
                    <span>{{labelValue.value}}</span>
                </dd>
                <dt><span>Lang</span></dt>
                <dd>
                    <span>{{labelValue.lang}}</span>
                </dd>
                <dt><span>Country</span></dt>
                <dd>
                    <span>{{labelValue.country}}</span>
                </dd>
                <dt><span>Creation Date</span></dt>
                <dd>
                    <span>{{labelValue.creationDate}}</span>
                </dd>
                <dt><span>Update Date</span></dt>
                <dd>
                    <span>{{labelValue.updateDate}}</span>
                </dd>
                <dt><span>Label</span></dt>
                <dd>
                    <div *ngIf="labelValue.label">
                        <a [routerLink]="['/label', labelValue.label?.id, 'view']">{{labelValue.label?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/label-value', labelValue.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
